.icon-img {
    width: 155px;
    margin-top: -11px;
    margin-right: 16px;
  }
  
  .custom-navbar {
    background-color: #4f01b0;
    height: 55px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    color: #f3f3f39d;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 500;
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:focus {
    font-weight: 500;
    color: #fff;
  }
  
  .new-deal-btn {
    font-weight: bold;
    color: #4f01b0;
    background-color: #58ff9d;
    width: 95px;
    margin-left: 13px;
    padding: 3px 6px 3px 6px;
  }
  .new-deal-btn:hover {
    font-weight: bold;
    color: #4f01b0;
    background-color: #fff;
  }
  .new-deal-btn:focus {
    font-weight: bold;
    color: #4f01b0;
    background-color: #fff;
  }
  
  .i-avatar {
    font-weight: bold;
    font-size: 15px;
    color: #4f01b0;
    background-color: #58ff9d;
    margin: 6px 6px 6px 6px;
    width: 32px;
    height: 32px;
  }
  .i-avatar:hover {
    font-weight: bold;
    color: #4f01b0;
    background-color: #58ff9d;
  }
  .i-avatar:focus {
    font-weight: bold;
    color: #4f01b0;
    background-color: #58ff9d;
  }
  
  .i-notification {
    background-color: #b8b1d5;
    margin: 6px 6px 6px 6px;
    width: 32px;
    height: 32px;
  }
  .i-notification:hover {
    background-color: #b8b1d5;
  }
  .i-notification:focus {
    background-color: #b8b1d5;
  }
  .i-notification .b-avatar-img {
    width: 23px;
    height: 23px;
  }
  
  .i-notification .b-avatar-badge {
    background-color: #58ff9d;
    min-height: 1.1em;
    min-width: 1.1em;
  }